body {
  font-family: "Arial", sans-serif;
}
section {
  text-align: center;
}
.game-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 306px;
  width: 306px;
  margin: 10px auto;
  color: #04c0b2;
  margin-top: 15%;
}
.cell {
  font-family: "Permanent Marker", cursive;
  width: 102px;
  height: 100px;
  box-shadow: 0px 0px 5px 1px #5a5a5a;
  border: 5px solid #eeeeee;
  cursor: pointer;
  line-height: 100px;
  font-size: 60px;
  background-color: rgb(59, 59, 59);
  border-radius: 10px;
}

.center-box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.player-box > h3 {
  display: inline;
  margin: 0 5%;
}
.chat-box {
  max-width: 50%;
  max-height: 30%;
  height: 290px;
  width: 25vw;
  position: absolute;
  display: inline;
  top: auto;
  text-align: center;
  margin-left: auto;
  margin: 0 17%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.chat-area {
  height: 170px;
  width: 23vw;
  position: relative;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
}



.chat-area p {
  word-wrap: break-word 3%;
  text-align: left;
  text-indent: 3%;
}
.chat-input {
  position: static;
  bottom: 0%;
  left: 0%;
  word-wrap: break-word 0%;
  text-indent: 0%;
  width: 91%;
  margin-top: 3px;
  transition: background-color 0.5s;

}

.chat-input:hover{
  background-color: #0cefff70;
  color: black;
}


.hide-submit {
  display: none;
}
.align-center {
  position: absolute;
  top: 10%;
  left: 47.5%;
}
.clipboard-img {
  position: relative;
  left: 20%;
  display: block;
  max-width: 50px;
  cursor: pointer;
  max-width: 50px;
}
