<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playing Tic-Tac-Toe</title>
</head>
<body>

    <div *ngIf="!playerName" class="center-box">
        <form [formGroup]="nameForm" (ngSubmit)="onSubmitName()">
            <input placeholder="Enter your name" formControlName="name">
            <button class="btn btn-primary" [disabled]="!nameForm.valid" type="submit">Play!</button>
        </form>
    </div>


    <section *ngIf="playerName">
        <div class="game-container">
            <div (click)="placePiece($event)" class="cell"></div>
            <div (click)="placePiece($event)" class="cell"></div>
            <div (click)="placePiece($event)" class="cell"></div>
            <div (click)="placePiece($event)" class="cell"></div>
            <div (click)="placePiece($event)" class="cell"></div>
            <div (click)="placePiece($event)" class="cell"></div>
            <div (click)="placePiece($event)" class="cell"></div>
            <div (click)="placePiece($event)" class="cell"></div>
            <div (click)="placePiece($event)" class="cell"></div>
        </div>
    </section>

    <div *ngIf="playerName" class="player-box">
        <label>{{ playerName }}</label>
    </div>
</body>
</html>