<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Tic-Tac-Toe</title>
</head>
<body>
    <div class="center-box">
        <form [formGroup]="nameForm" (ngSubmit)="onSubmitName()">
            <input placeholder="Enter your name" formControlName="name">
            <button class="btn btn-primary" [disabled]="!nameForm.valid || joiningGame" type="submit">Play!</button>
        </form>
    </div>
</body>
</html>
